@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-text);
  font-size: 40px; 
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px; 
  width: 100%;
  max-width: 1400px;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 15px; 
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 32%; 
  height: 420px; 
  text-align: center;
  box-sizing: border-box;
}

.serviceItem:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.serviceIcon {
  width: 150px; 
  height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.serviceDetails {
  font-family: var(--font-roboto);
}

.serviceDetails h3 {
  font-size: 28px; 
  font-weight: 500;
  margin-bottom: 15px; 
}

.serviceDetails p {
  font-size: 18px; 
  font-weight: 300;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.serviceItem {
  animation: fadeInUp 0.5s ease-out;
  animation-fill-mode: both;
}

.serviceItem:nth-child(1) {
  animation-delay: 0.2s;
}

.serviceItem:nth-child(2) {
  animation-delay: 0.4s;
}

.serviceItem:nth-child(3) {
  animation-delay: 0.6s;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 500px; 
  }

  .serviceItem {
    width: 90%; 
    max-width: 700px; 
    height: 500px; 
  }
}
