/* ScrollToTopButton.module.css */
.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .scrollToTopButton:hover {
    opacity: 1;
  }
  
  .scrollIcon {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  