@import "../../vars.css"; 


body, html {
  overflow-x: hidden;
  width: 100%;
  margin: 0; 
  padding: 0; 
}

* {
  box-sizing: border-box;
}


.container {
  color: var(--color-text);
  margin: 79px auto 0; 
  padding: 0 20px; 
  max-width: 1700px; 
  width: 100%; 
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column; 
  gap: 40px; 
  margin-top: 14px;
}


.category {
  margin-bottom: 40px;
}

.categoryTitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: 10px;
  text-align: left; /* Aligner le titre de la catégorie à gauche */
}

/* Styles pour la liste des compétences */
.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Grille responsive */
  gap: 20px; /* Espace entre les compétences */
  justify-content: center; /* Centrer les éléments dans la grille */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden; /* Masquer le débordement */
  transition: transform 0.3s ease; /* Transition pour l'animation au survol */
}

.skillImageContainer:hover {
  transform: scale(1.1); /* Agrandir l'icône au survol */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.skillImageContainer img {
  width: 75px;
  max-width: 100%;
  height: auto;
  animation: pulse 2s ease-in-out infinite; /* Appliquer l'animation de pulsation */
}